<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="UTF-8" />
		<title>
			<ui:insert name="titulo">LMSystem - Estoque</ui:insert>
		</title>
		<h:outputStylesheet library="css" name="estilo.css" />
	</h:head>
	<h:body>
	<p:growl life="15000" showDetail="true" autoUpdate="true" />
	<div class="ui-fluid">
		<p:ajaxStatus onstart="PF('status').show();"  oncomplete="PF('status').hide()" />
		<p:dialog width="250" header="Processando..." widgetVar="status" closable="false"/>
		<ui:insert name="cabecalho">
				<h:form id="barraDeFerramentas">
					<p:menubar style="padding: 0px;">
						<p:submenu label="Cadastros">
							<!-- <p:menuitem value="Estoque" outcome="/paginas/cadastros/estoque/estoque" /> -->
							<p:submenu label="Estoque">
								<p:menuitem value="Depósito" action="#{depositoBean.openWindow}" />
								<p:menuitem value="Grupo " action="#{grupoProdutoBean.openWindow}"/>
								<p:menuitem value="Produto" action="#{produtoBean.openWindow}"/>
								<p:menuitem value="Subgrupo" action="#{subGrupoProdutoBean.openWindow}"/>
								<p:menuitem value="Unidade" action="#{unidadeProdutoBean.openWindow}"/>
							</p:submenu>
						<p:menuitem value="Cliente"/>
						<p:menuitem value="Empresa"/>
						<p:menuitem value="Fornecedor"/>
						<p:menuitem value="Setor" action="#{setorBean.openWindow}"/>
						<p:menuitem value="Usuário" action="#{usuarioBean.openWindow}"/>
						</p:submenu>
						<p:submenu label="Estoque">
							<p:menuitem value="Nota fiscal"/>
							<p:menuitem value="Venda"/>
							<p:menuitem value="Ajuste de entrada"/>
							<p:menuitem value="Ajuste de saída"/>
							<p:menuitem value="Inventário"/>
						</p:submenu>
						<p:submenu label="Compras">
							<p:menuitem value="Mapa de cotação"/>
							<p:menuitem value="Pedido"/>
						</p:submenu>
						<p:menuitem value="Relatórios"/>
						<p:submenu style="float: right;" label="Olá #{usuario.nome}!">
							<p:menuitem value="Logout" action="#{login.logout}" title="Sair do sistema!" />
						</p:submenu>
					</p:menubar>
				</h:form>
		</ui:insert>
		<ui:insert name="corpo"/>
		<ui:insert name="rodape">
				<div id="rodape" align="center">
					Todos os direitos reservados - 2016
				</div>
		</ui:insert>
	</div>
	<script>
			PrimeFaces.locales['pt'] = {
				closeText : 'Fechar',
				prevText : 'Anterior',
				nextText : 'Próximo',
				currentText : 'Começo',
				monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
						'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro',
						'Dezembro' ],
				monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul',
						'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
				dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta',
						'Sexta', 'Sábado' ],
				dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
				dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
				weekHeader : 'Semana',
				firstDay : 0,
				isRTL : false,
				showMonthAfterYear : false,
				yearSuffix : '',
				timeOnlyTitle : 'Só Horas',
				timeText : 'Tempo',
				hourText : 'Hora',
				minuteText : 'Minuto',
				secondText : 'Segundo',
				ampm : false,
				month : 'Mês',
				week : 'Semana',
				day : 'Dia',
				allDayText : 'Todo o Dia'
			};
			onkeydown="if(event.keyCode==13) event.keyCode=9;";
		</script>
	</h:body>
</html>