<!DOCTYPE html>
<ui:composition template="../../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de depósito</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{grupoProdutoBean.start}"/>
		</f:metadata>
		<p:panel style="border: none;">
			<h:form id="frm-deposito">
				<p:focus for="deposito"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid columns="2" layout="grid">
							<h:panelGrid>
								<h:outputLabel value="Código" for="codigo" />
								<p:inputText disabled="true" id="codigo" value="#{depositoBean.deposito.pkdeposito}" size="3"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Descrição do Depósito" for="deposito" />
								<p:inputText id="deposito" styleClass="text-uppercase" value="#{depositoBean.deposito.deposito}" size="70"/>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid>
						<h:outputLabel value="Depósito relacionado" for="deposito-relacionado" />
							<p:selectOneMenu style="width: 600px;"
								title="Subgrupo de produtos" 
								id="deposito-relacionado" 
								value="#{depositoBean.deposito.fkdeposito}">
								<f:selectItem itemLabel="Selecione" itemDisabled="true"/>
								<f:selectItems value="#{depositoBean.depositos}" 
									var="deposito" 
									itemLabel="#{deposito.deposito}"
									itemValue="#{deposito}"/>
							</p:selectOneMenu>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{depositoBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar-deposito">
				<h:panelGrid columns="2">
					<p:inputText id="nome-grupo" size="40" title="Pesquisa pelo nome do depósito." styleClass="text-uppercase" value="#{depositoBean.nomedeposito}" placeholder="Descrição do depósito" />
			  		<p:commandButton value="Pesquisar" action="#{depositoBean.search}" update="frm-localizar-deposito" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{depositoBean.depositos}" 
						rendered="#{not empty depositoBean.depositos}"
						id="lista-de-depositos" 
						var="d"
						rows="10"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{depositoBean.deposito}"
			 			selectionMode="single"
			 			rowKey="#{d.pkdeposito}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{d.pkdeposito}"/>
							</p:column>
							<p:column headerText="Depósito" style="width:50%">
								<p:outputLabel value="#{d.deposito}"/>
							</p:column>
							<p:column headerText="Depósito relacionado" style="width:30%">
								<p:outputLabel value="#{d.fkdeposito.deposito}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>