<!DOCTYPE html>
<ui:composition template="../../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de grupos</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{grupoProdutoBean.start}"/>
		</f:metadata>
		<p:panel style="border: none;">
			<h:form id="frm-grupo">
				<p:focus for="grupo"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid columns="2" layout="grid">
							<h:panelGrid>
								<h:outputLabel value="Código" for="codigo" />
								<p:inputText disabled="true" id="codigo" value="#{grupoProdutoBean.grupoProduto.pkgrupoproduto}" size="3"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Descrição do grupo" for="grupo" />
								<p:inputText id="grupo" styleClass="text-uppercase" value="#{grupoProdutoBean.grupoProduto.grupoproduto}" size="70"/>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{grupoProdutoBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar-grupo">
				<h:panelGrid columns="2">
					<p:inputText id="nome-grupo" size="40" title="Pesquisa pelo nome do grupo." styleClass="text-uppercase" value="#{grupoProdutoBean.nomegrupo}" placeholder="Descrição do grupo" />
			  		<p:commandButton value="Pesquisar" action="#{grupoProdutoBean.search}" update="frm-localizar-grupo" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{grupoProdutoBean.grupoProdutos}" 
						rendered="#{not empty grupoProdutoBean.grupoProdutos}"
						id="lista-de-grupos" 
						var="g"
						rows="10"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{grupoProdutoBean.grupoProduto}"
			 			selectionMode="single"
			 			rowKey="#{g.pkgrupoproduto}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{g.pkgrupoproduto}"/>
							</p:column>
							<p:column headerText="Grupo" style="width:90%">
								<p:outputLabel value="#{g.grupoproduto}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>