<!DOCTYPE html>
<ui:composition template="../../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de produtos</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{produtoBean.start}"/>
		</f:metadata>
		<p:panel style="border: none;">
			<h:form id="frm-produto">
				<p:focus for="produto"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid columns="2">
							<h:panelGrid>
								<h:outputLabel value="Código" for="codigo" />
								<p:inputText disabled="true" id="codigo" value="#{produtoBean.produto.pkproduto}" size="3"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Descrição do produto" for="produto" />
								<p:inputText id="produto" styleClass="text-uppercase" value="#{produtoBean.produto.produto}" size="70"/>
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid columns="3">
							<h:panelGrid>
								<h:outputLabel value="Subgrupo" for="produto-subgrupo" />
								<p:selectOneMenu
									required="true"
									requiredMessage="Preencher com o subgrupo"
									title="Subgrupo de produtos" 
									id="produto-subgrupo" 
									value="#{produtoBean.produto.subgrupo}">
									<f:selectItem itemLabel="Selecione" itemDisabled="true"/>
									<f:selectItems value="#{produtoBean.subgrupoProdutos}" 
										var="subgrupo" 
										itemLabel="#{subgrupo.subgrupo}"
										itemValue="#{subgrupo}"/>
								</p:selectOneMenu>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Und. estoque" for="produto-unidade-estoque" />
								<p:selectOneMenu
									required="true"
									requiredMessage="Preencher com a unidade de estoque"
									title="Unidade de estoque" 
									id="produto-unidade-estoque" 
									value="#{produtoBean.produto.unidadeestoque}">
									<f:selectItem itemLabel="Selecione" itemDisabled="true"/>
									<f:selectItems value="#{produtoBean.unidadeProdutos}" 
										var="unidade" 
										itemLabel="#{unidade.sigla} - #{unidade.unidade}"
										itemValue="#{unidade}"/>
								</p:selectOneMenu>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Localização" for="produto-localizacao" />
								<p:inputText id="produto-localizacao" styleClass="text-uppercase" value="#{produtoBean.produto.localizacao}" size="10"/>
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid columns="5">
							<h:panelGrid>
								<h:outputLabel value="Est. mínimo" for="produto-estoque-minimo" />
								<p:inputText id="produto-estoque-minimo" value="#{produtoBean.produto.estoqueminimo}" size="12"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Ressuprimento" for="produto-ressuprimento" />
								<p:inputText id="produto-ressuprimento" value="#{produtoBean.produto.ressuprimento}" size="12"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Preço médio" for="produto-preco-medio" />
								<p:inputText id="produto-preco-medio" value="r$ #{produtoBean.produto.precomedio}" size="12"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Último preço" for="produto-ultimo-preco" />
								<p:inputText id="produto-ultimo-preco" value="r$ #{produtoBean.produto.ultimopreco}" size="12"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Saldo" for="produto-saldo" />
								<p:inputText id="produto-saldo" value="#{produtoBean.produto.ultimopreco}" size="13"/>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{produtoBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar-produto">
				<h:panelGrid columns="2">
					<p:inputText id="nome-produto" size="40" title="Pesquisa pelo nome do produto." styleClass="text-uppercase" value="#{produtoBean.nomeproduto}" placeholder="Descrição do produto" />
			  		<p:commandButton styleClass="btn btn-azul" value="Pesquisar" action="#{produtoBean.search}" update="frm-localizar-produto" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{produtoBean.produtos}" 
						rendered="#{not empty produtoBean.produtos}"
						id="lista-de-produtos" 
						var="p"
						rows="5"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{produtoBean.produtoselecionado}"
			 			selectionMode="single"
			 			rowKey="#{p.pkproduto}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{p.pkproduto}"/>
							</p:column>
							<p:column headerText="Produto" style="width:70%">
								<p:outputLabel value="#{p.produto}"/>
							</p:column>
							<p:column headerText="Unid. de estoque" style="width:20%">
								<p:outputLabel value="#{p.unidadeestoque.sigla}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>