<!DOCTYPE html>
<ui:composition template="../../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de subgrupos</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{subGrupoProdutoBean.start}"/>
		</f:metadata>
		<p:panel style="border: none;">
			<h:form id="frm-subgrupo">
				<p:focus for="subgrupo"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid layout="grid">
							<h:panelGrid columns="2">
								<h:panelGrid>
									<h:outputLabel value="Código" for="codigo" />
									<p:inputText disabled="true" id="codigo" value="#{subGrupoProdutoBean.subgrupoProduto.pksubgrupo}" size="3"/>
								</h:panelGrid>
								<h:panelGrid>
									<h:outputLabel value="Descrição do subgrupo" for="subgrupo" />
									<p:inputText id="subgrupo" styleClass="text-uppercase" value="#{subGrupoProdutoBean.subgrupoProduto.subgrupo}" size="45"/>
								</h:panelGrid>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Grupo" for="subgrupo-grupo" />
								<p:selectOneMenu
									required="true"
									requiredMessage="Preencher com o grupo"
									title="Grupo de produtos" 
									id="subgrupo-grupo" 
									value="#{subGrupoProdutoBean.subgrupoProduto.grupoProduto}">
									<f:selectItem itemLabel="Selecione" itemDisabled="true"/>
									<f:selectItems value="#{subGrupoProdutoBean.grupoProdutos}" 
										var="grupo" 
										itemLabel="#{grupo.grupoproduto}"
										itemValue="#{grupo}"/>
								</p:selectOneMenu>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{subGrupoProdutoBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar-subgrupo">
				<h:panelGrid columns="2">
					<p:inputText id="nome-grupo" size="40" title="Pesquisa pelo nome do subgrupo." styleClass="text-uppercase" value="#{subGrupoProdutoBean.nomesubgrupo}" placeholder="Descrição do subgrupo" />
			  		<p:commandButton styleClass="btn btn-azul" value="Pesquisar" action="#{subGrupoProdutoBean.search}" update="frm-localizar-subgrupo" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{subGrupoProdutoBean.subgrupoProdutos}" 
						rendered="#{not empty subGrupoProdutoBean.subgrupoProdutos}"
						id="lista-de-subgrupos" 
						var="s"
						rows="10"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{subGrupoProdutoBean.subgrupoProdutoSelecionado}"
			 			selectionMode="single"
			 			rowKey="#{s.pksubgrupo}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{s.pksubgrupo}"/>
							</p:column>
							<p:column headerText="Subgrupo" style="width:70%">
								<p:outputLabel value="#{s.subgrupo}"/>
							</p:column>
							<p:column headerText="Grupo" style="width:20%">
								<p:outputLabel value="#{s.grupoProduto.grupoproduto}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>