<!DOCTYPE html>
<ui:composition template="../../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de unidades</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{unidadeProdutoBean.start}"/>
		</f:metadata>
		<p:panel style="border: none;">
			<h:form id="frm-unidade">
				<p:focus for="unidade"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid columns="4" layout="grid">
							<h:panelGrid>
								<h:outputLabel value="Código" for="codigo" />
								<p:inputText disabled="true" id="codigo" value="#{unidadeProdutoBean.unidadeProduto.pkunidade}" size="3"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Descrição da unidade" for="unidade" />
								<p:inputText id="unidade" styleClass="text-uppercase" value="#{unidadeProdutoBean.unidadeProduto.unidade}" size="45"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Sigla" for="sigla" />
								<p:inputText id="sigla" styleClass="text-uppercase" value="#{unidadeProdutoBean.unidadeProduto.sigla}" size="10"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Fator" for="fator" />
								<p:inputText id="fator" styleClass="text-uppercase" value="#{unidadeProdutoBean.unidadeProduto.fator}" size="5"/>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{unidadeProdutoBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar-unidade">
				<h:panelGrid columns="2">
					<p:inputText id="nome-unidade" size="40" title="Pesquisa pelo nome da unidade." styleClass="text-uppercase" value="#{unidadeProdutoBean.nomeunidade}" placeholder="Descrição da unidade" />
			  		<p:commandButton styleClass="btn btn-azul" value="Pesquisar" action="#{unidadeProdutoBean.search}" update="frm-localizar-unidade" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{unidadeProdutoBean.unidadeProdutos}" 
						rendered="#{not empty unidadeProdutoBean.unidadeProdutos}"
						id="lista-de-unidades" 
						var="u"
						rows="10"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{unidadeProdutoBean.unidadeprodutoselecionado}"
			 			selectionMode="single"
			 			rowKey="#{u.pkunidade}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{u.pkunidade}"/>
							</p:column>
							<p:column headerText="Unidade" style="width:70%">
								<p:outputLabel value="#{u.unidade}"/>
							</p:column>
							<p:column headerText="Sigla" style="width:20%">
								<p:outputLabel value="#{u.sigla}"/>
							</p:column>
							<p:column headerText="Fator" style="width:20%">
								<p:outputLabel value="#{u.fator}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>