@charset "utf-8";

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.texto-branco {
	color: white;
}

body {
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	background-image: linear-gradient(to left, white, gray, white);
}

#rodape {
	width: 98%;
	color: black;
	font-weight: bold;
	text-align: right;
	bottom: 1px;
	position: fixed;
}

#frm-login, a {
	color: activeborder;
}

#ajax-loading {
	float: right;
	margin-right: 0px;
}

.descricao-campo {
	font-size: 12px;
}

.text-nowrap {
	white-space: nowrap
}

.text-lowercase {
	text-transform: lowercase
}

.text-uppercase {
	text-transform: uppercase
}

.text-capitalize {
	text-transform: capitalize
}

.semBorda tr, .semBorda td {
	border: none !important;
	border-spacing: 1px;
}

.container {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-azul {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.btn-amarelo {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.caixa {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #eee;
}

/*------------------------------*\
    Sistemad e Grid
\*------------------------------*/
.linha, .coluna {
	box-sizing: border-box;
}

.linha:before, .linha:after {
	content: " ";
	display: table;
}

.linha:after {
	clear: both;
}

.coluna {
	position: relative;
	float: left;
	display: block;
}

.coluna+.coluna {
	margin-left: 1.6%;
}

.coluna-1 {
	width: 6.86666666667%;
}

.coluna-2 {
	width: 15.3333333333%;
}

.coluna-3 {
	width: 23.8%;
}

.coluna-4 {
	width: 32.2666666667%;
}

.coluna-5 {
	width: 40.7333333333%;
}

.coluna-6 {
	width: 49.2%;
}

.coluna-7 {
	width: 57.6666666667%;
}

.coluna-8 {
	width: 66.1333333333%;
}

.coluna-9 {
	width: 74.6%;
}

.coluna-10 {
	width: 83.0666666667%;
}

.coluna-11 {
	width: 91.5333333333%;
}

.coluna-12 {
	width: 100%;
	margin-left: 0;
}

@media only screen and (max-width: 550px) {
	.coluna-1, .coluna-2, .coluna-3, .coluna-4, .coluna-5, .coluna-6,
		.coluna-7, .coluna-8, .coluna-9, .coluna-10, .coluna-11, .coluna-12 {
		float: none;
		width: auto;
	}
	.coluna+.coluna {
		margin-left: 0;
	}
}

/*------------------------------*\
    Estilos
\*------------------------------*/
.coluna {
	padding: 1px;
	min-height: 30px;
}

.linha {
	margin-bottom: 3px;
}

.linha:last-child {
	margin-bottom: 0;
}

.coluna .coluna {
	color: #eee;
	background: #333;
	border-color: #000;
}

.p {
	font-size: 14px;
	text-align: center;
	padding-top: 100px;
}

@media only screen and (max-width: 550px) {
	.linha {
		margin-bottom: 0;
	}
	.coluna {
		margin-bottom: 10px;
	}
	.linha:last-child .coluna:last-child {
		margin-bottom: 0;
	}
}