<!DOCTYPE html>
<ui:composition template="../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de setores</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{grupoProdutoBean.start}"/>
		</f:metadata>
		<p:panel>
			<h:form id="frm-setor">
				<p:focus for="setor"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid columns="2" layout="grid">
							<h:panelGrid>
								<h:outputLabel value="Código" for="codigo" />
								<p:inputText disabled="true" id="codigo" value="#{setorBean.setor.pksetor}" size="3"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Descrição do setor" for="setor" />
								<p:inputText id="setor" styleClass="text-uppercase" value="#{setorBean.setor.setor}" size="70"/>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{setorBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar">
				<h:panelGrid columns="2">
					<p:inputText id="nome-setor" size="40" title="Pesquisa pelo nome do setor." styleClass="text-uppercase" value="#{setorBean.nomesetor}" placeholder="Descrição do setor" />
			  		<p:commandButton value="Pesquisar" action="#{setorBean.search}" update="frm-localizar" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{setorBean.setores}" 
						rendered="#{not empty setorBean.setores}"
						id="lista-de-setores" 
						var="s"
						rows="10"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{setorBean.setorselecionado}"
			 			selectionMode="single"
			 			rowKey="#{s.pksetor}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{s.pksetor}"/>
							</p:column>
							<p:column headerText="Setor" style="width:90%">
								<p:outputLabel value="#{s.setor}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>