<!DOCTYPE html>
<ui:composition template="../templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">LMSystem - Cadastro de usuários</ui:define>
	<ui:define name="cabecalho"></ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{usuarioBean.start}"/>
		</f:metadata>
		<p:panel>
			<h:form id="frm-usuario">
				<p:focus for="usuario-nome"/>
				<h:panelGrid>
					<h:panelGrid>
						<h:panelGrid columns="2" layout="grid">
							<h:panelGrid>
								<h:outputLabel value="Código" for="codigo" />
								<p:inputText disabled="true" id="codigo" value="#{usuarioBean.usuario.pkusuario}" size="3"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Nome do usuário" for="usuario-nome" />
								<p:inputText id="usuario-nome" styleClass="text-uppercase" required="true" value="#{usuarioBean.usuario.pessoaFisica.pessoa.nome}" size="70"/>
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid columns="4">
							<h:panelGrid>
								<h:outputLabel value="Login" for="usuario-login" />
								<p:inputText id="usuario-login" required="true" value="#{usuarioBean.usuario.login}" size="20"/>
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Senha" for="usuario-senha" />
								<p:password id="usuario-senha" feedback="true" weakLabel="Fraca" goodLabel="Razoável" strongLabel="Excelente" promptLabel="Digite uma senha." required="true" value="#{usuarioBean.usuario.senha}" size="20" />
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Confirmar senha" for="usuario-senha-confirmacao" />
								<p:password id="usuario-senha-confirmacao" match="usuario-senha" feedback="true" weakLabel="Fraca" goodLabel="Razoável" strongLabel="Excelente" promptLabel="Digite uma senha." required="true" value="#{usuarioBean.usuario.senha}" size="20" />
							</h:panelGrid>
							<h:panelGrid>
								<h:outputLabel value="Administrador?" for="usuario-administrador" />
								<p:selectBooleanCheckbox id="usuario-administrador" value="#{usuarioBean.usuario.administrador}"/>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<p:commandButton value="Salvar"/>
					<p:commandButton value="Limpar" immediate="true" action="#{usuarioBean.clean}"/>
				</h:panelGrid>
			</h:form>
			<p:separator/>
			<h:form id="frm-localizar">
				<h:panelGrid columns="2">
					<p:inputText id="nome-usuario" size="40" title="Pesquisa pelo nome do usuário." styleClass="text-uppercase" value="#{usuarioBean.nomeusuario}" placeholder="Nome do usuário" />
			  		<p:commandButton value="Pesquisar" action="#{usuarioBean.search}" update="frm-localizar" />
		  		</h:panelGrid>
		  		<h:panelGrid>
			  		<p:dataTable 
						value="#{usuarioBean.usuarios}" 
						rendered="#{not empty usuarioBean.usuarios}"
						id="lista-de-usuarios" 
						var="u"
						rows="10"
			 			paginator="true"
			 			paginatorAlwaysVisible="false" 
			 			paginatorPosition="bottom"
			 			selection="#{usuarioBean.usuarioSelecionado}"
			 			selectionMode="single"
			 			rowKey="#{u.pkusuario}"
			 			>		 						 	
							<p:column headerText="Código" style="width:10%" >
								<p:outputLabel value="#{u.pkusuario}"/>
							</p:column>
							<p:column headerText="Nome do usuário" style="width:60%">
								<p:outputLabel value="#{u.pessoaFisica.pessoa.nome}"/>
							</p:column>
							<p:column headerText="Login" style="width:20%" >
								<p:outputLabel value="#{u.login}"/>
							</p:column>
					</p:dataTable>	
				</h:panelGrid>				
			</h:form>
		</p:panel>
	</ui:define>
	<ui:define name="rodape"></ui:define>
</ui:composition>