<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>
		<title>LMSystem - Acesso ao sistema</title>
		<h:outputStylesheet library="css" name="estilo.css" />
	</h:head>
	<h:body>
		<p:growl autoUpdate="true"/>
		<div class="container" align="center">
			<div class="form-group" style="margin-top: 20%;">
				<h:form id="frm-login">
					<p:focus for="login"/>
					<h:panelGrid>
							<div>
								<p:outputLabel value="Login" for="login" />
								<p:inputText title="Usuário" placeholder="Digite seu login" id="login" required="true" value="#{login.nomeUsuario}" />
								<p:outputLabel value="Senha" for="senha" />
								<p:password placeholder="Digite sua senha" title="Senha" id="senha" required="true" value="#{login.senha}" />
								<h:panelGrid columns="2">
									<p:commandButton value="Entrar" title="Acessar" action="#{login.login}"/>
									<h:link value="Esqueceu a senha?"/>
								</h:panelGrid>
							</div>
					</h:panelGrid>
				</h:form>
			</div>
		</div>
	</h:body>
</html>